header {
  height: 100%;
  position: relative;
  background-image: url('../images/headerBackground.png');
  background-position: center center;
  background-size: cover;
  @media only screen and (max-width: 950px) {
    background-image: none;
  }
  .cover {
    height: 100%;
    width: 100%;
    position: relative;
    .container {
      height: 100%;
      .flex-wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .text-wrapper {
          span.brand {
            display: inline-block;
            color: #777;
            font-size: 20px;
            font-weight: 600;
            &::before {
              content: "";
              height: 4px;
              width: 35px;
              display: inline-block;
              vertical-align: middle;
              margin-right: 18px;
              margin-bottom: 3px;
              background: $colorPrimary;
            }
          }
          h1 {
            width: 100%;
            max-width: 350px;
            margin: 20px 0 25px 0;
          }
        }
        .card-wrapper {
          @media only screen and (max-width: 950px) {
            display: none;
          }
          .card {
            width: 520px;
            padding: 20px 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border-radius: 20px;
            background: #fff;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
            transition: ease-in-out all 0.5s;
            &:hover {
              transform: translateY(-5px);
              box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.2);
            }
            p {
              width: 65%;
              color: #777;
              font-size: 25px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .scroll-wrapper {
      width: 100%;
      position: absolute;
      bottom: 10px;
      left: 0;
      z-index: 99;
      text-align: center;
      .scroll-btn {
        cursor: pointer;
        display: inline-block;
        padding: 25px;
        color: $colorPrimary;
        font-size: 14px;
        font-weight: 500;
        line-height: 120%;
        span {
          display: block;
        }
        .line-wrapper {
          height: 30px;
          margin-bottom: 10px;
          overflow: hidden;
          .line {
            display: inline-block;
            height: 30px;
            width: 2px;
            background: $colorPrimary;
            animation: lineAnimation 1.5s linear infinite;
          }
          @keyframes lineAnimation {
            0% {
              transform: translateY(-30px);
            }
            50% {
              transform: translateY(0px);
            }
            100% {
              transform: translateY(30px);
            }
          }
        }
      }
    }
  }
  .modal-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba($color: #111, $alpha: .7);
    .modal {
      width: 30rem;
      position: absolute;
      z-index: 999999;
      padding: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-radius: 20px;
      background: #fff;
      box-shadow: 0 8px 20px rgba(0,0,0,.1);
      transition: ease-in-out all .8s;
      label {
        margin: 0 0 .5rem 0;
        color: #777;
        font-size: 1.1rem;
        font-weight: 400;
      }
      input {
        width: 100%;
        margin: 0 0 1.5rem 0;
        padding: 15px;
        border: none;
        border-radius: 8px;
        outline: none;
        caret-color: $colorPrimary;
        background: #f1f1f1;
        font-size: .9rem;
      }
      .btn-wrapper {
        margin: 1rem 0 0 0;
        .btn {
          cursor: pointer;
          display: inline-block;
          padding: 12px 30px;
          border-radius: 4px;
          background: $colorPrimary;
          color: #fff;
          font-size: .95rem;
        }
        .btn-text {
          cursor: pointer;
          display: inline-block;
          margin-left: 20px;
          padding: 12px 5px;
          color: $colorPrimary;
          font-size: .95rem;
          font-weight: 500;
        }
      }
    }
  }
}
