//Helper classes
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  @media only screen and (max-width: 1200px) {
    max-width: 950px;
  }
  @media only screen and (max-width: 950px) {
    max-width: 700px;
  }
}


.d-flex {
  display: flex !important;
}