.search-bar-container{
  padding: 11px 0 0 0;
  position: relative;
  display: inline-block;
  .search-bar{
    outline: none;
    height: 30px;
    width: 250px;
    max-width: 500px;
    position: relative;
    border-radius: 6px;
    background: #fff;
    border: solid 2px $colorPrimary;
    transition-duration: 1s;
    .result-set{
      z-index: 99;
      overflow-x: hidden;
    }
  }
  
}

.search-bar:hover{
  transition-duration: 1s;
  width: 300px;
  border: solid 2px $colorSecondary;
}

.go-back-container{
  width: 15%;
  height: 70px;
  position: absolute;
  padding: 11px 0 0 50px;

}

.welcome-text{
  width: 15%;
  height: 70px;
  position: absolute;
  padding: 11px 0 0 50px;
  left: 0;
}

.custom-popup{
  display: block;
  align-items: center;
  font-family: "Montserrat";
  flex-direction: column;
  color: #777;
  font-weight: 500;
  .popup-title{
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 5px;
  }
  .button-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .custom-btn{
      padding: 5px 10px;
      font-size: 12px;
      margin-top: 10px;
      text-align: right;
    }
  }
}

.zoom-btn-container{
  width: 70px;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  .custom-btn{
    display: inline-block;
    font-weight: 900;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    min-width: 30px;
  }

}