.search-bar-container{
  padding: 11px 0 0 0;
  position: relative;
  display: inline-flex;
  justify-content: center;
  .search-bar{
    outline: none;
    width: 250px;
    max-width: 500px;
    position: absolute;
    border-radius: 4px;
    background: #fff;
    border: solid 2px $colorPrimary;
    transition-duration: 1s;
    padding: 10px;
  }
  .result-set{
    position: relative;
    z-index: 9999;
    overflow-x: hidden;
  }
}

.search-bar:hover{
  transition-duration: 1s;
  width: 300px;
  border: solid 2px $colorSecondary;
}

.go-back-container{
  width: 15%;
  height: 70px;
  position: relative;
  top: 11px;
  left: 50px;
  z-index: 999;
}

.welcome-text-container{
  width: 20%;
  height: 55px;
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  .welcome-text{
    position:absolute;
    font-size: 0.95rem;
    font-weight: 900;
    color: #777;
    right: 20px;
    top: 10px;
    background-color: white;
    box-shadow: 8px 8px 20px rgba(0,0,0,.05);
    padding: 10px;
    border: solid 2px $colorPrimary;
    border-radius: 4px;
  }
  .custom-btn{
    right: 20px;
    top: 10px;
    position:absolute;
  }
}

.custom-popup{
  display: block;
  align-items: center;
  font-family: "Montserrat";
  flex-direction: column;
  color: #777;
  font-weight: 500;
  .popup-title{
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 5px;
  }
  .button-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .custom-btn{
      padding: 5px 10px;
      font-size: 12px;
      margin-top: 10px;
      text-align: right;
    }
  }
}

.zoom-btn-container{
  width: 70px;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  .custom-btn{
    display: inline-block;
    font-weight: 900;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    min-width: 30px;
  }

}