nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  .nav-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    @media only screen and (max-width: 1200px) {
        max-width: 950px;
    }
    @media only screen and (max-width: 950px) {
        max-width: 700px;
    }
    .nav-logo {
      padding: 20px;
      border-radius: 10px;
      @include box-shadow;
      img.logo-img {
        height: 50px;
        width: 50px;
      }
    }
    .nav-items {
      margin: 0;
      padding: 25px 40px;
      background: #fff;
      border-radius: 10px;
      @include box-shadow;
      .nav-link {
        display: inline-block;
        list-style: none;
        padding: 0 10px;
        a {
          cursor: pointer;
          display: inline-block;
          padding: 10px 5px;
          color: #777;
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;
          &.btn-login {
            padding: 10px 30px;
            border-radius: 4px;
            background: $colorPrimary;
            color: #fff;
            font-size: 13px;
            @include standard-transition;
            @include box-shadow-blue;
            &:hover {
              background: $colorSecondary;
            }
          }
        }
      }
    }
  }
}