@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 950px;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    max-width: 700px;
  }
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

#root {
  height: 100%;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 20px 0;
}

nav .nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container .nav-logo {
  padding: 20px 40px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
          box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

nav .nav-container .nav-logo .nav-image {
  height: 50px;
  width: 50px;
  display: block;
}

nav .nav-container .nav-items {
  margin: 0;
  padding: 0 40px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
          box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

nav .nav-container .nav-items li {
  display: inline-block;
  padding: 20px 0;
}

nav .nav-container .nav-items li:first-child .nav-link {
  padding-left: 0;
}

nav .nav-container .nav-items li .nav-link {
  cursor: pointer;
  display: inline-block;
  padding: 15px 12.5px;
  color: #777;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

nav .nav-container .nav-items li .nav-link.btn-login {
  margin-left: 10px;
  padding: 10px 25px;
  border-radius: 4px;
  background: #004ffc;
  color: #fff;
  font-size: 14px;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 76, 255, 0.4);
          box-shadow: 3px 3px 20px rgba(0, 76, 255, 0.4);
  -webkit-transition: ease-in-out all 0.5s;
  transition: ease-in-out all 0.5s;
}

nav .nav-container .nav-items li .nav-link.btn-login:hover {
  background: #1541ab;
}

header {
  height: 100%;
  position: relative;
  background-image: url("../images/headerBackground.png");
  background-position: center center;
  background-size: cover;
}

header .cover {
  height: 100%;
  width: 100%;
  position: relative;
}

header .cover .container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

header .cover .container .flex-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .cover .container .flex-wrapper .text-wrapper span.brand {
  display: inline-block;
  color: #777;
  font-size: 20px;
  font-weight: 600;
}

header .cover .container .flex-wrapper .text-wrapper span.brand::before {
  content: "";
  height: 4px;
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;
  margin-bottom: 3px;
  background: #004ffc;
}

header .cover .container .flex-wrapper .text-wrapper h1 {
  width: 100%;
  max-width: 350px;
  margin: 20px 0 25px 0;
  color: #777;
  font-size: 35px;
  font-weight: 300;
}

header .cover .container .flex-wrapper .text-wrapper .btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  background: #004ffc;
  text-align: center;
  color: #fff;
  font-size: 15px;
  -webkit-transition: ease-in-out all 0.5s;
  transition: ease-in-out all 0.5s;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 76, 255, 0.4);
          box-shadow: 3px 3px 20px rgba(0, 76, 255, 0.4);
}

header .cover .container .flex-wrapper .text-wrapper .btn:hover {
  background: #1541ab;
}

header .cover .container .flex-wrapper .card-wrapper .card {
  width: 520px;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: ease-in-out all 0.5s;
  transition: ease-in-out all 0.5s;
}

header .cover .container .flex-wrapper .card-wrapper .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.2);
}

header .cover .container .flex-wrapper .card-wrapper .card p {
  width: 65%;
  color: #777;
  font-size: 25px;
  font-weight: 400;
}

header .cover .container .flex-wrapper .card-wrapper .card .btn {
  cursor: pointer;
  width: 25.5%;
  display: inline-block;
  padding: 10px 0;
  background: #004ffc;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 13.5px;
  -webkit-transition: ease-in-out all 0.5s;
  transition: ease-in-out all 0.5s;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 76, 255, 0.4);
          box-shadow: 3px 3px 20px rgba(0, 76, 255, 0.4);
}

header .cover .container .flex-wrapper .card-wrapper .card .btn:hover {
  background: #1541ab;
}

header .cover .scroll-wrapper {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 99;
  text-align: center;
}

header .cover .scroll-wrapper .scroll-btn {
  cursor: pointer;
  display: inline-block;
  padding: 25px;
  color: #004ffc;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

header .cover .scroll-wrapper .scroll-btn span {
  display: block;
}

header .cover .scroll-wrapper .scroll-btn .line-wrapper {
  height: 30px;
  margin-bottom: 10px;
  overflow: hidden;
}

header .cover .scroll-wrapper .scroll-btn .line-wrapper .line {
  display: inline-block;
  height: 30px;
  width: 2px;
  background: #004ffc;
  -webkit-animation: lineAnimation 1.5s linear infinite;
          animation: lineAnimation 1.5s linear infinite;
}

@-webkit-keyframes lineAnimation {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes lineAnimation {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

header .modal-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(17, 17, 17, 0.7);
}

header .modal-wrapper .modal {
  width: 30rem;
  position: absolute;
  z-index: 999999;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: ease-in-out all .8s;
  transition: ease-in-out all .8s;
}

header .modal-wrapper .modal label {
  margin: 0 0 .5rem 0;
  color: #777;
  font-size: 1.1rem;
  font-weight: 400;
}

header .modal-wrapper .modal input {
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  caret-color: #004ffc;
  background: #f1f1f1;
  font-size: .9rem;
}

header .modal-wrapper .modal .btn-wrapper {
  margin: 1rem 0 0 0;
}

header .modal-wrapper .modal .btn-wrapper .btn {
  cursor: pointer;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 4px;
  background: #004ffc;
  color: #fff;
  font-size: .95rem;
}

header .modal-wrapper .modal .btn-wrapper .btn-text {
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
  padding: 12px 5px;
  color: #004ffc;
  font-size: .95rem;
  font-weight: 500;
}

main section.section-bar {
  position: relative;
  padding: 200px 0;
  background-image: url("../images/sectionBarBg.jpg");
  background-position: center center;
  background-size: cover;
}

main section.section-bar .bg-filter {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: #000;
  opacity: 0.75;
}

main section.section-bar .container {
  position: relative;
}

main section.section-bar .container .text-wrapper {
  position: relative;
  z-index: 99;
}

main section.section-bar .container .text-wrapper h2 {
  margin: 0;
  color: #fff;
  font-size: 35px;
  font-weight: 300;
}

main section.section-bar .container .text-wrapper p {
  width: 550px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

main section.section-bar .container .text-wrapper .btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  background: #004ffc;
  text-align: center;
  color: #fff;
  font-size: 15px;
  -webkit-transition: ease-in-out all 0.5s;
  transition: ease-in-out all 0.5s;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 76, 255, 0.4);
          box-shadow: 3px 3px 20px rgba(0, 76, 255, 0.4);
}

main section.section-bar .container .text-wrapper .btn:hover {
  background: #1541ab;
}

main section.section-discoteche {
  position: relative;
  padding: 200px 0;
  background-image: url("https://images.unsplash.com/photo-1450044804117-534ccd6e6a3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
  background-position: center center;
  background-size: cover;
}

main section.section-discoteche .bg-filter {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: #000;
  opacity: 0.75;
}

main section.section-discoteche .container {
  height: 100%;
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main section.section-discoteche .container .text-wrapper {
  height: 100%;
}

main section.section-discoteche .container .text-wrapper h2 {
  margin: 0;
  color: #fff;
  font-size: 35px;
  font-weight: 300;
}

main section.section-discoteche .container .text-wrapper p {
  width: 550px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

main section.section-discoteche .container .text-wrapper .btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  background: #004ffc;
  text-align: center;
  color: #fff;
  font-size: 15px;
  -webkit-transition: ease-in-out all 0.5s;
  transition: ease-in-out all 0.5s;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 76, 255, 0.4);
          box-shadow: 3px 3px 20px rgba(0, 76, 255, 0.4);
}

main section.section-discoteche .container .text-wrapper .btn:hover {
  background: #1541ab;
}
/*# sourceMappingURL=main.css.map */